
@font-face {

    font-family:'GothamXNarrow';
    src: url("fonts/GothamXNarrow.otf");

    font-family:"GothamXNarrowBold";
    src: url("fonts/GothamXNarrow-Bold.otf");

    font-family:"GothamXNarrowMedium";
    src: url("fonts/GothamXNarrow-Medium.otf");

    font-family:'Seg1';
    src: url("fonts/segoeui.ttf");

    font-family:"SegBold";
    src: url("fonts/segoeuib.ttf");

    font-family:"SegItalic";
    src: url("fonts/segoeuii.ttf");

    font-family:"Seg4";
    src: url("fonts/segoeuil.ttf");

    font-family:"Seg5";
    src: url("fonts/segoeuisl.ttf");

    font-family:"Seg6";
    src: url("fonts/segoeuiz.ttf");

    font-family:"Seg7";
    src: url("fonts/seguibl.ttf");

    font-family:"Seg8";
    src: url("fonts/seguibli.ttf");

    font-family:"Seg9";
    src: url("fonts/seguili.ttf");

    font-family:"Seg10";
    src: url("fonts/seguisb.ttf");

    font-family:"Seg11";
    src: url("fonts/seguisli.ttf");

    


}

body {
    
background-color: #1b191b;

}
.theme-color {background-color: #FC7F11;}

h1,h2,h3,h4,h5,h6 {font-weight:normal;}
.map {background-image: url(images/map.png); background-position: center; background-repeat: no-repeat; background-size: 670px; background-attachment: fixed;}
.map .box{background-color: rgba(112,112,112,0.7); border-radius: 30px;}
.link {border: solid 2px #707070; border-radius: 35px; padding: 19px 22px; color: #FFFFFF; font-weight: 600; font-size: 20px;}
.link:hover {border: solid 2px #707070; border-radius: 35px; padding: 19px 22px; color: #FFFFFF; font-weight: 600; text-decoration: none; font-size: 20px}

.virusrelative {
    position: relative;
}

h1.virus {
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%);
    font-size:100px;
    letter-spacing: 5px;
    font-weight: bold;
    z-index: -1;
    font-family:"Gotham", sans-serif;
}

.olaylar {
    gap:50px;
}

.korunmaimg1 {
    margin-top:20px;
    
}


img.korunmayeni {
    height:125px;
    width:130px;
}

.korunmaimg {
    margin-top:200px;
    
}

h1.title {
    font-family:GothamXNarrow, sans-serif ;
    font-size:40px;
    width:fit-content;
    margin: auto !important;
    letter-spacing:4px;
   
}

h1 {
    font-family:GothamXNarrowMedium, sans-serif ;
    font-size:40px;
    width:700px;
    margin: auto;

}

h2 {
    font-family:"SegBold", sans-serif;

}

h3.yedinci {
    font-family:"SegBold", sans-serif;
    font-size:25px;

}

h3 {
    font-family:"SegBold", sans-serif;
    font-size:25px;

}

h4 {

    font-family:"Seg1", sans-serif !important;
    font-size:25px;
    text-align:left !important;

  
 
}

h5 {
    font-family:"Seg1", sans-serif ;
    font-size:30px;
    text-align:left;
}

img.coronavirus {
    height:196px;
    width:1050px;
    margin: auto;

   
   
}



a.vakaharitasi {

    margin: auto;
    position: absolute ;
    top:3.2%;
    right:1%;
    height:50px;
    width:fit-content;
    padding:5px 15px;
    border:1px solid whitesmoke;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    color: whitesmoke;
    text-decoration:none;
   

}

a.vakaharitasi:hover {
    background-color:whitesmoke;
    color: black;
    transition:300ms ease;
}

a.vakaharitasi:active {
    transform: scale(0.9);
}

b {
    
    font-weight: bolder !important;
}



a.link {

    margin: auto;
    padding:5px 15px;
    border:1px solid whitesmoke;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: fit-content;
    background:transparent;
    color: whitesmoke;
    text-decoration:none;
   

}

a.link:hover {
    padding:5px 15px;
    background-color:whitesmoke;
    color: black;
    border:none;
 
}

a.link:active {
    transform: scale(0.9);
}

.col-md-8 > h4 {
    font-size: 30px;
    font-family:"SegBold", sans-serif;
}

.col-md-8 > h5 {
    font-size:15px;
    font-family:"Seg7", sans-serif;
}

.tamamdirdiv {
   
    position:relative
}

.tamamdirdiv > p.sars {
    position: absolute;
    top:20%;
    left:5%;
    display: block;
    height:80px;
    width:200px;
    background-color:#1B191B;
    color: white;
    font-size:14px;
    letter-spacing:2px;
    font-weight: bold;
    
}


.tamamdirdiv > p.covid {
    position: absolute;
    top:-10%;
    left:40%;
    display: block;
    height:80px;
    width:200px;
    background-color:#1B191B;
    color: white;
    font-size:14px;
    letter-spacing:2px;
    font-weight: bold;
    
}


.tamamdirdiv > p.mers {
    position: absolute;
    top:24%;
    left:75%;
    display: block;
    height:80px;
    width:200px;
    background-color:#1B191B;
    color: white;
    font-size:14px;
    letter-spacing:2px;
    font-weight: bold;
    
}

span.sars {
    color:#CA5F2D;
}

.box {
    margin-top:250px;
}


img.klinikdenemeler {
    margin: auto;
    width:100%;
   
}

p.yazi1 {
    position:absolute;
    top:30px;
    left:1%;
    font-weight: bold;
    width:150px;
    text-align: left;
}

p.yazi2 {
    position:absolute;
    top:50px;
    left:20%;
    font-weight: bold;
    width:300px;
    text-align: left;
}

p.yazi3 {
    position:absolute;
    top:85px;
    left:50%;
    font-weight: bold;
    width:300px;
    text-align: left;
}

p.yazi4 {
    position:absolute;
    top:125px;
    left:85%;
    font-weight: bold;
    width:250px;
    text-align: left;
}